 /* webpage color schemes */
 :root {
    --c1: #6b6e70;
    --c2: #474b4f;
    --c3: #222629;
    --c4: #86c232;
    --c5: #61892f;
 }
  
/* sets all margins and boarders to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* apply styles to <body> */
body {
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    padding: 20px 35px;
    background-color: var(--c1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    border-bottom: 2px solid var(--c4); 
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--c4);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--c4);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--c4);
  color: var(--c2);
  border-radius: 15px;
  text-shadow: none;
}

.hero {
    color: var(--c3);
    background-color: var(--c1);
    background-image: url("");
}

.hero-image {
    display: flex;
    margin: 0 20px;
    padding: 10px 20px;
}

.hero h3 {
    font-size: 1.55vw;
    margin: 0 0 0 35px;
    padding: 10px 20px;
}

.hero img {
    max-width: 10%;
    max-height: 10%;
    margin: 0 20px;
    padding: 10px 20px;
}

.hero p {
   display: flex;
    margin: 0 auto;
    padding: 10px 50px;
    font-size: 1.55vw;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
  }

.section-box {
    background-color: var(--c3);
    padding: 10px 0 10px 0;
}

.title-box {
    font-size: 48px;
    color: var(--c5);
    padding: 20px 10px;
    text-align: right;
    margin: 10px 10px;
    width: 20%; 
    border-right: 2px solid var(--c5);   
}

.about-me-box {
    font-size: 22px;
    color: var(--c5);
    padding: 20px 0;
    text-align: center;
    margin: 0 30px;
    width: 100%; 
    border-bottom: 2px solid var(--c5);
}

.content-box {
    font-size: 22px;
    color: var(--c5);
    padding: 20px 0;
    text-align: center;
    margin: 0 30px;
    width: 100%; 
}

.contact-box {
    font-size: 22px;
    color: var(--c5);
    padding: 0px 0;
    margin: 0 30px;
    width: 100%; 
    border-bottom: 2px solid var(--c5);
    border-top: 2px solid var(--c5);
    display: flex;
    justify-content: center;
}

.contact-box ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
  }

.contact-box ul li {
    padding: 0 10px;
    margin: 0 10px;
}

.flex {
    display: flex;
    justify-content: center;
}

  .projects {
      justify-content: center;
      margin: 10px 10px;
      padding: 0;
      position: relative;
      border: 6px solid var(--c4);
  }

  .projects img {
    display: block;
    max-width:300px;
    max-height:500px;
    width: auto;
    height: auto;
    opacity: 0.5;
  }

  .text-block {
    position: absolute;
    bottom: 18px;
    right: -1.8%;
    background-color: var(--c3);
    padding: 20px 50px;
    margin: 0;
    color: var(--c4);
    border: 4px solid var(--c4);
    border-right: 4px solid var(--c3);
  }

  .projects:hover {
    webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 4px solid var(--c4);
  }

  .projects:hover img {
    opacity: 1;
  }
