 /* webpage color schemes */
 :root {
    --c1: #FC4445;
    --c2: #3fEEE6;
    --c3: #55bcc9;
    --c4: #97caef;
    --c5: #cafafe;
 }
  
/* sets all margins and boarders to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* apply styles to <body> */
body {
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    padding: 20px 35px;
    background-color: var(--c1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--c4);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--c2);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* changes state of nave bar on hover */
header nav ul li a:hover {
  background: var(--c2);
  color: var(--c1);
  border-radius: 15px;
  text-shadow: none;
}

/* hero background style */
.hero {
    color: var(--c3);
    background-color: var(--c1);
    background-image: url("./Austin-backdrop-blue.png");
    background-size: cover;
    background-size: 100vw 17vw;
}

.hero h2 {
    font-size: 2.55vw;
    margin: 0;
    padding: 20px 0;
    color: var(--c2);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.hero img {
    max-width: 10%;
    max-height: 10%;
    margin: 0;
    padding: 0;
 
}

.hero p {

    margin: 0;
    padding: 0;
    font-size: 3.55vw;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: var(--c2);
    text-align: center;
}

/* flexes name and title to right of image */
.align-hero {
  display: flex;
  justify-content: flex-start
}

.flex-row {
    display: flex;
  }

.section-box {
    background-color: var(--c3);
    padding: 10px 0 10px 0;
}

/* left side section title style */
.title-box {
    font-size: 5vw;
    color: var(--c5);
    padding: 20px 10px;
    text-align: right;
    margin: 10px 10px;
    width: 30%; 
    border-right: 2px solid var(--c5);   
}

/* secton 1: about me style */
.about-me-box {
    font-size: 1.55vw;
    color: var(--c5);
    padding: 20px 0;
    text-align: left;
    margin: 0 30px;
    width: 100%; 
    border-bottom: 2px solid var(--c5);
}

/* secton 2: projects style */
.content-box {
    font-size: 22px;
    color: var(--c5);
    padding: 20px 0;
    text-align: center;
    margin: 0 30px;
    width: 100%; 
}

.flex {
    display: flex;
    justify-content: center;
}

  .projects {
      justify-content: center;
      margin: 10px 10px;
      padding: 0;
      position: relative;
      border: 6px solid var(--c2);
  }

  .projects img {
    display: block;
    max-width: 20vw;
    max-height: 30vw;
    width: auto;
    height: auto;
    opacity: 0.5;
  }

/* project label style */  
  .text-block {
    position: absolute;
    bottom: 18px;
    right: -1.8%;
    background-color: var(--c3);
    padding: 20px 50px;
    margin: 0;
    color: var(--c1);
    border: 4px solid var(--c1);
    border-right: 6px solid var(--c3);
    font-size: 1.4vw;
  }

  .projects:hover {
    webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 4px solid var(--c1);
  }

  .projects:hover img {
    opacity: 1;
  }

  /* secton 3: contact me style */
.contact-box {
  font-size: 2.5vw;
  color: var(--c5);
  padding: 0px 0;
  margin: 0 30px;
  width: 100%; 
  border-bottom: 2px solid var(--c5);
  border-top: 2px solid var(--c5);
  display: flex;
  justify-content: center;
}

.contact-box ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}

.contact-box ul li {
  padding: 0 10px;
  margin: 0 10px;
  color: var(--c1);
}

.contact-box ul li a {
  color: var(--c1);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .hero h2 {
      padding: 10px;
    }

    .contact-box, .contact-box ul {
      text-align: center;
      width: 100%;
      justify-content: space-around;
    }
  
    .title-box {
      width: 30%;
    }
    
    .about-me-box, .content-box, .contact-box {
    padding: 0 auto;
    margin: 0 auto;
    }

    .text-block {
        width: 80%;
        bottom: 3px;
        left: -1px;
        border-right: 4px solid var(--c4);
        padding: 5px 0px;
        margin: 0 auto;
    }
    .contact-box ul {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        justify-content:first stretch;
    }

    .contact-box ul li {
        padding: 0 0px;
        margin: 0;
    }
}

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    .hero h2 {
      padding: 5px;
    }
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
      .contact-box ul li{
          padding:0 40px;
          margin: 0 40px;
      }
  }

/* end of style sheet */